body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

/*all important code start from here*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.chat .username {
  border-bottom: 2px solid #dbdbdb;
  padding: 10px 0; }
  .chat .username span {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #53ca53;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px; }
  .chat .username a {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #808080;
    font-size: 20px;
    vertical-align: middle; }
.chat .useritem {
  padding: 31px 15px;
  border-bottom: 2px solid #dbdbdb; }
  .chat .useritem .avator {
    border: 0.125rem solid #d7d7d7;
    padding: 0.3125rem;
    border-radius: 50%;
    display: inline-block;
    float: left;
    position: relative; }
    .chat .useritem .avator img {
      height: 4.375rem;
      width: 4.375rem;
      border-radius: 50%; }
    .chat .useritem .avator .online {
      height: 17px;
      width: 17px;
      background: #959595;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      right: 6px;
      border: 3px solid #dfdfdf; }
    .chat .useritem .avator .online.active {
      background: #53ca53; }
  .chat .useritem .text {
    float: left;
    width: calc(100% - 5.8125rem);
    padding-left: 0.9375rem; }
    .chat .useritem .text a.title {
      font-size: 1.375rem;
      font-weight: 500;
      color: #808080;
      font-family: "Raleway", sans-serif; }
    .chat .useritem .text .review-follow {
      margin: 3px 0; }
    .chat .useritem .text a.review {
      font-size: 1.0625rem;
      color: #f1375e;
      font-weight: 300; }
  .chat .useritem .comment-rate {
    padding: 0;
    margin: 0;
    list-style: none; }
    .chat .useritem .comment-rate li {
      display: inline-block;
      margin-right: 20px; }
      .chat .useritem .comment-rate li:last-child {
        margin-right: 0; }
      .chat .useritem .comment-rate li span {
        font-size: 0.9375rem;
        color: #808080;
        font-family: "Raleway", sans-serif;
        display: inline-block;
        margin-right: 2px;
        position: relative;
        top: -0.125rem; }
      .chat .useritem .comment-rate li .cat {
        margin-right: 5px;
        color: #dfba4b; }
      .chat .useritem .comment-rate li i {
        font-size: 20px; }
      .chat .useritem .comment-rate li .fa-star {
        color: #ff9c00;
        font-size: 1.25rem; }
      .chat .useritem .comment-rate li .fa-angle-right {
        color: #808080;
        margin-left: 10px; }
  .chat .useritem a.follow {
    display: inline-block;
    background: #e62d48;
    color: #fff;
    font-size: 8px;
    padding: 0.3125rem 0.6875rem;
    white-space: nowrap;
    border-radius: 0.25rem;
    text-decoration: none;
    margin-left: 0.9375rem;
    position: relative;
    top: -2px; }
    .chat .useritem a.follow i {
      margin-right: 5px; }
.chat .useritem.active {
  background: #f3f3f3; }
.chat .message {
  background: #f3f3f3;
  padding-top: 55px; }
  .chat .message .item {
    padding: 0 100px;
    margin-bottom: 40px; }
  .chat .message .avator {
    border: 0.125rem solid #d7d7d7;
    padding: 0.25rem;
    border-radius: 50%;
    display: inline-block;
    float: left;
    position: relative;
    margin-right: 20px; }
    .chat .message .avator img {
      height: 4.0625rem;
      width: 4.0625rem;
      border-radius: 50%; }
  .chat .message .text {
    float: left;
    width: calc(100% - 97px);
    background: #e1e1e1;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px; }
  .chat .message .item.right .avator {
    float: right;
    margin-right: 0;
    margin-left: 20px; }
  .chat .message .item.right .text {
    background: #6699cc;
    color: #fff; }
.chat .send-message {
  background: #f3f3f3;
  border-top: 2px solid #dbdbdb;
  padding: 20px; }
  .chat .send-message .text {
    float: left;
    width: calc(100% - 120px);
    position: relative;
    border: 1px solid #e6e6e6; }
    .chat .send-message .text .icon {
      position: absolute;
      right: 45px;
      top: 10px; }
      .chat .send-message .text .icon a {
        color: #d4d4d4;
        font-size: 35px;
        display: inline-block;
        margin-left: 15px; }
    .chat .send-message .text input {
      height: 70px;
      border: none;
      width: 100%;
      background: #fff;
      font-size: 20px;
      color: #a4a3a3;
      padding: 10px 30px;
      padding-right: 160px; }
  .chat .send-message button {
    background: #f03c57;
    color: #fff;
    height: 70px;
    width: 120px;
    border: none;
    font-size: 40px;
    float: left; }

@media (min-width: 1366px) {
  .chat .useritem {
    padding-left: 45px; } }
