body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

/*all important code start from here*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.chat .username {
  border-bottom: 2px solid #dbdbdb;
  padding: 10px 0;
  height: 50px; }
  .chat .username span {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #53ca53;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px; }
  .chat .username a {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #808080;
    font-size: 20px;
    vertical-align: middle; }
.chat .useritem-wraper-parent .slimScrollDiv {
  height: calc(100vh - 125px) !important; }
.chat .useritem-wraper-parent .useritem-wraper {
  height: calc(100vh - 125px) !important; }
.chat .useritem {
  padding: 14.4px 15px;
  border-bottom: 2px solid #dbdbdb; }
  .chat .useritem .avator {
    border: 0.125rem solid #d7d7d7;
    padding: 0.3125rem;
    border-radius: 50%;
    display: inline-block;
    float: left;
    position: relative; }
    .chat .useritem .avator img {
      height: 3.75rem;
      width: 3.75rem;
      border-radius: 50%; }
    .chat .useritem .avator .online {
      height: 17px;
      width: 17px;
      background: #959595;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      right: 6px;
      border: 3px solid #dfdfdf; }
    .chat .useritem .avator .online.active {
      background: #53ca53; }
  .chat .useritem .text {
    float: left;
    width: calc(100% - 5.8125rem);
    padding-left: 0.9375rem; }
    .chat .useritem .text a.title {
      font-size: 1.125rem;
      font-weight: 500;
      color: #808080;
      font-family: "Raleway", sans-serif; }
    .chat .useritem .text .review-follow {
      margin: 3px 0; }
    .chat .useritem .text a.review {
      font-size: 0.875rem;
      color: #f1375e;
      font-weight: 300; }
  .chat .useritem .comment-rate {
    padding: 0;
    margin: 0;
    list-style: none; }
    .chat .useritem .comment-rate li {
      display: inline-block;
      margin-right: 20px; }
      .chat .useritem .comment-rate li:last-child {
        margin-right: 0; }
      .chat .useritem .comment-rate li span {
        font-size: 0.875rem;
        color: #808080;
        font-family: "Raleway", sans-serif;
        display: inline-block;
        margin-right: 2px;
        position: relative;
        top: -0.125rem; }
      .chat .useritem .comment-rate li .cat {
        margin-right: 5px;
        color: #dfba4b; }
      .chat .useritem .comment-rate li i {
        font-size: 15px; }
      .chat .useritem .comment-rate li .fa-star {
        color: #ff9c00;
        font-size: 0.9375rem; }
      .chat .useritem .comment-rate li .fa-angle-right {
        color: #808080;
        margin-left: 10px; }
  .chat .useritem a.follow {
    display: inline-block;
    background: #e62d48;
    color: #fff;
    font-size: 8px;
    padding: 0.3125rem 0.6875rem;
    white-space: nowrap;
    border-radius: 0.25rem;
    text-decoration: none;
    margin-left: 0.9375rem;
    position: relative;
    top: -2px; }
    .chat .useritem a.follow i {
      margin-right: 5px; }
.chat .useritem.active {
  background: #f3f3f3; }
.chat .message-wraper .slimScrollDiv {
  height: calc(100vh - 214px) !important; }
.chat .message-wraper {
  background: #f3f3f3; }
.chat .message {
  padding: 0 15px;
  padding-top: 55px;
  height: calc(100vh - 214px) !important; }
  .chat .message .item {
    padding: 0 100px;
    margin-bottom: 40px; }
  .chat .message .avator {
    border: 0.125rem solid #d7d7d7;
    padding: 0.25rem;
    border-radius: 50%;
    display: inline-block;
    float: left;
    position: relative;
    margin-right: 20px; }
    .chat .message .avator img {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%; }
  .chat .message .text {
    float: left;
    width: calc(100% - 72px);
    background: #e1e1e1;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px; }
  .chat .message .item.right .avator {
    float: right;
    margin-right: 0;
    margin-left: 20px; }
  .chat .message .item.right .text {
    background: #6699cc;
    color: #fff; }
.chat .send-message {
  background: #f3f3f3;
  border-top: 2px solid #dbdbdb;
  padding: 15px; }
  .chat .send-message .text {
    float: left;
    width: calc(100% - 100px);
    position: relative;
    border: 1px solid #e6e6e6; }
    .chat .send-message .text .icon {
      position: absolute;
      right: 45px;
      top: 10px; }
      .chat .send-message .text .icon a {
        color: #d4d4d4;
        font-size: 24px;
        display: inline-block;
        margin-left: 15px; }
    .chat .send-message .text input {
      height: 55px;
      border: none;
      width: 100%;
      background: #fff;
      font-size: 18px;
      color: #a4a3a3;
      padding: 10px 30px;
      padding-right: 160px; }
  .chat .send-message button {
    background: #f03c57;
    color: #fff;
    height: 55px;
    width: 100px;
    border: none;
    font-size: 25px;
    float: left; }

@media (min-width: 1366px) {
  .chat .useritem {
    padding-left: 45px; } }
@media (max-width: 1199px) {
  .chat .useritem .comment-rate li .fa-angle-right {
    margin-left: 0; }

  .chat .useritem .comment-rate li {
    margin-right: 5px; }

  .chat .message .item {
    padding: 0 15px; } }
@media (max-width: 991px) {
  .chat .useritem-wraper-parent .useritem-wraper,
  .chat .useritem-wraper-parent .slimScrollDiv,
  .chat .message,
  .chat .message-wraper .slimScrollDiv {
    height: calc(100vh - 200px) !important; }

  .chat .send-message .text input {
    height: 40px;
    font-size: 14px; }

  .chat .send-message button {
    font-size: 20px;
    height: 41px; }

  .chat .send-message .text .icon {
    top: 3px; }

  .chat .useritem .avator img {
    height: 40px;
    width: 40px; }

  .chat .useritem .text {
    width: calc(100% - 54px); }

  .chat .useritem .avator .online {
    right: -4px; } }
.useritem-wraper-parent .arrow {
  display: none; }

@media (max-width: 767px) {
  .chat .useritem .text {
    display: none; }

  .useritem-wraper-parent {
    position: absolute;
    height: calc(100% - 74px);
    width: 100px;
    left: 15px;
    top: 0;
    background: #fff;
    z-index: 55;
    -webkit-transition: .1s;
    transition: .1s; }
    .useritem-wraper-parent .arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 15px 15px;
      border-color: transparent transparent transparent #fff;
      position: absolute;
      right: -15px;
      top: 50%;
      display: block;
      cursor: pointer; }
      .useritem-wraper-parent .arrow i {
        position: relative;
        left: -13px;
        top: -10px; }

  .chat .useritem-wraper-parent.active {
    width: 100%; }
    .chat .useritem-wraper-parent.active .useritem .text {
      display: block; }
    .chat .useritem-wraper-parent.active .useritem .avator {
      float: left; }
    .chat .useritem-wraper-parent.active .useritem {
      text-align: left; }
    .chat .useritem-wraper-parent.active .arrow {
      border-color: transparent transparent transparent #f03c57;
      right: 0px;
      color: #fff;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      z-index: 100; }
      .chat .useritem-wraper-parent.active .arrow i {
        left: -11px;
        top: -13px; }

  .chat .useritem {
    text-align: center; }

  .chat .useritem .avator {
    float: none; }

  .chat .message .item {
    margin-left: 86px; }

  .chat .message .avator {
    margin-right: 15px; }

  .chat .message .item.right .avator {
    margin-left: 15px; }

  .chat .message .text {
    width: calc(100% - 67px); }

  .chat .send-message .text input {
    padding-right: 123px; } }
@media (max-width: 575px) {
  .chat .username a {
    font-size: 18px; } }
@media (max-width: 480px) {
  .chat .message .text {
    padding: 10px 12px;
    font-size: 12px; }

  .chat .send-message .text .icon {
    right: 20px; }

  .chat .send-message .text input {
    padding-right: 94px;
    padding-left: 15px; } }
